[submodule "bin/gitbook"]
	path = bin/gitbook
	url = https://github.com/LowieHuyghe/python-package-gitbook-tools.git
[submodule "setup"]
	path = setup
	url = https://github.com/LowieHuyghe/python-package-easier-setup-script.git
