recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig

prune .circleci
prune .eggs
prune build
prune dist
prune edmunds-instance
prune site
prune storage
prune tests
exclude .*
exclude MANIFEST.in
exclude CHANGELOG.md
exclude README.md
exclude mkdocs.yml
exclude setup/.*
exclude setup/*.example.*

include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
