Flask==0.12.2
google-api-python-client==1.6.2
GoogleAppEngineCloudStorageClient==1.9.22.1
pyprof2calltree==1.4.1
Flask-WTF==0.14.2
# Fix Flask-SQLAlchemy to 2.1 instead of 2.2 because of https://github.com/mitsuhiko/flask-sqlalchemy/issues/478
Flask-SQLAlchemy==2.1
mysqlclient==1.3.10
psycopg2==2.7.1
Flask-Script==2.0.5
nose==1.3.7
coverage==4.4.1
Flask-Migrate==2.0.4
