version: 2

jobs:

  test-2.7:
    docker:
      - image: lowieh/docker-python-gcp:2.7
    steps:
      - checkout
#     Test edmunds in python 2.7
      - restore_cache:
          key: deps-test-2.7-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python -m virtualenv venv
            . venv/bin/activate
            pip install codecov coverage setuptools_scm
            pip install -r requirements.txt
      - save_cache:
          key: deps-test-2.7-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - venv
      - run:
          command: |
            . venv/bin/activate
            coverage run --source=edmunds setup.py test
#     Test package in python 2.7
      - run:
          command: |
            . venv/bin/activate
            rm -rf dist
            python setup.py sdist
      - run:
          command: |
            . venv/bin/activate
            pip install dist/*.tar.gz
#     Send results to codecov in python 2.7
      - run:
          command: |
            . venv/bin/activate
            codecov --required

  test-3.4:
    docker:
      - image: lowieh/docker-python-gcp:3.4
    steps:
      - checkout
#     Test edmunds in python 3.4
      - restore_cache:
          key: deps-test-3.4-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install codecov coverage setuptools_scm
            pip install -r requirements.txt
      - save_cache:
          key: deps-test-3.4-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - venv
      - run:
          command: |
            . venv/bin/activate
            coverage run --source=edmunds setup.py test
#     Test package in python 3.4
      - run:
          command: |
            . venv/bin/activate
            rm -rf dist
            python setup.py sdist
      - run:
          command: |
            . venv/bin/activate
            pip install dist/*.tar.gz
#     Send results to codecov in python 3.4
      - run:
          command: |
            . venv/bin/activate
            codecov --required

  test-3.5:
    docker:
      - image: lowieh/docker-python-gcp:3.5
    steps:
      - checkout
#     Test edmunds in python 3.5
      - restore_cache:
          key: deps-test-3.5-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install codecov coverage setuptools_scm
            pip install -r requirements.txt
      - save_cache:
          key: deps-test-3.5-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - venv
      - run:
          command: |
            . venv/bin/activate
            coverage run --source=edmunds setup.py test
#     Test package in python 3.5
      - run:
          command: |
            . venv/bin/activate
            rm -rf dist
            python setup.py sdist
      - run:
          command: |
            . venv/bin/activate
            pip install dist/*.tar.gz
#     Send results to codecov in python 3.5
      - run:
          command: |
            . venv/bin/activate
            codecov --required

  test-3.6:
    docker:
      - image: lowieh/docker-python-gcp:3.6
    steps:
      - checkout
#     Test edmunds in python 3.6
      - restore_cache:
          key: deps-test-3.6-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python -m venv venv
            . venv/bin/activate
            # Update setuptools to avoid this issue: https://github.com/linsomniac/python-memcached/issues/103
            pip install -U setuptools
            pip install codecov coverage setuptools_scm
            pip install -r requirements.txt
      - save_cache:
          key: deps-test-3.6-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - venv
      - run:
          command: |
            . venv/bin/activate
            coverage run --source=edmunds setup.py test
#     Test package in python 3.6
      - run:
          command: |
            . venv/bin/activate
            rm -rf dist
            python setup.py sdist
      - run:
          command: |
            . venv/bin/activate
            pip install dist/*.tar.gz
#     Send results to codecov in python 3.6
      - run:
          command: |
            . venv/bin/activate
            codecov --required

  update-docs:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run: pip install mkdocs mkdocs-material
      - run:
          command: |
            rm -rf site
            mkdir -p site/.circleci
            cp .circleci/gh-pages.config.yml site/.circleci/config.yml
      - deploy:
          command: |
            git config --global user.name "CircleCI"
            git config --global user.email "sayhi@circleci.com"
            mkdocs gh-deploy --dirty

  deploy-to-pypi:
    docker:
      - image: python:3.6
    steps:
      - checkout
      - run:
          command: |
            apt-get update
            apt-get install -y pandoc
      - run: pip install setuptools_scm pypandoc twine
      - run:
          command: |
            rm -rf dist
            python setup.py sdist
      - deploy:
          command: |
            twine upload -u "$TWINE_USERNAME" -p "$TWINE_PASSWORD" dist/*.tar.gz


workflows:
  version: 2

  flow:
    jobs:
      - test-2.7:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test-3.4:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test-3.5:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test-3.6:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - update-docs:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
            branches:
              ignore: /.*/
          requires:
            - test-2.7
            - test-3.4
            - test-3.5
            - test-3.6
      - deploy-to-pypi:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
            branches:
              ignore: /.*/
          requires:
            - update-docs
